.container{

    margin: 3rem 0;
    background-color: rgb(255, 255, 255);
    max-height: 200px;
    width: auto;
    box-shadow: 0px 1px 10px 0px rgb(195, 195, 195);
    padding: 1rem;

}

h1 {
  font-size: clamp(1.8rem, 5vw, 4rem);
  line-height: 1.1;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 240, 242);
    height: 100%;
}

.text{
    font-size: 40px;
}

.clock{
    font-size: 20px;
}