.Container{
    display: grid;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    min-height: 200px;
    max-width: 330px;
    min-width: 220px;
    transition: all 0.3s ease-in;
    perspective: 1000px;
}

.Card{
    padding: 12px;
    background-color: white;
    box-shadow: 0px 1px 10px 0px rgb(195, 195, 195);
    height: 100%;
    width: 100%;
    display: grid;
    transition: transform 0.3s ease-in;
    transform-style: preserve-3d;
}

.ImgContainer{
    grid-area: 1/1;
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
}


#FrontCard{
    transform: rotateY(0deg);
}

#BackCard{
    transform: rotateY(180deg);
}

/* this flip */
.Container:hover .Card{
    transform: rotateY(180deg);
}

.img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;
}

/* .Container:hover .img{
    scale: calc(1.02);
} */
/* .Container:hover{
    transform: rotate(2deg);
} */

.imgText{
    position: relative;
    right: -8px;
    bottom: 30px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.heartIcon{
    position: relative;
    right: -8px;
    bottom: 30px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

@media (width < 500px) {
    .Container{
        max-width: 500px;
    }
}