.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    min-height: 200px;
    max-width: 330px;
    min-width: 220px;
    padding: 12px;
    background-color: white;
    /* border-radius: 24px; */
    box-shadow: 0px 1px 10px 0px rgb(195, 195, 195);
    transition: all 0.3s ease-in;

}

.ImgContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* border-radius: 12px; */
}

.img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;
}

.Container:hover .img{
    /* scale: calc(1.02); */
}
.Container:hover{
    transform: rotate(2deg);
}

.imgText{
    position: relative;
    right: -8px;
    bottom: 30px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.heartIcon{
    position: relative;
    right: -8px;
    bottom: 30px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

@media (width < 500px) {
    .Container{
        max-width: 500px;
    }
}