.sidebar{
    margin-bottom: 1rem;
    width: 30%;
}

nav{

    display: grid;
    grid-template-columns: auto auto auto;
    /* height: 70px; */
}


.linkBlock{
    /* border: 1px solid black; */
    color: black;
    padding: 1rem;
    backdrop-filter: blur(2px);
    border-radius: 8px;
    width: fit-content;
    background-color: white;
    box-shadow: 1px 1px 4px 1px rgb(209, 209, 209);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.linkBlock:hover{
    box-shadow: 4px 4px 4px 1px rgb(209, 209, 209);
    text-decoration: none;
}
