.beforeWrapper{
    display: grid;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 240, 242);
    font-family: cursive, Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    /* Dotted Grid */
    /* background-size: 40px 40px;
    background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px); */

    /* Line Grid */
    background-size: 50px 50px;
    background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);

    background-attachment: fixed;
    
}

.wrapper{
    display: grid;
    /* place-items:center; */
    /* column-gap: 10px; */
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
}

@media (width<600px) {
    .wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

@media (width<450px) {
    .wrapper{
        grid-template-columns: 1fr;
    }
    
}